@import url('https://fonts.googleapis.com/css2?family=Ubuntu:ital,wght@0,300;0,400;1,300;1,400&display=swap');

/* You might want to target specific elements for the following styles */

body {
  font-family: 'Ubuntu', sans-serif;
  margin: 0;
  padding: 0;
  background-image: linear-gradient(to right, #570404, #333);
  height: 100vh;
  display: flex;
  flex-direction: column; /* Stack content vertically */
  align-items: center;
  justify-content: flex-start; /* Align content to the top */
}

.container {
  width: 90%;
  height: 640px;
  background-image: linear-gradient(to right, #570404ac 30%, #333333c2), url(images/poggersonchannel.jpg);
}

.container:hover {
  background-image: linear-gradient(to right, #570404ac 30%, #333333), url(images/poggersonchannel.jpg);
}

header {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 10px;
  background-color: #333;
  color: #fff;
}

/* Other styles for logo, ul, and other elements */

.content p::first-letter {
  font-size: 2em; /* Adjust the size as needed */
}

.content button {
  font-size: 30px;
  padding: 6px 10px;
  border-radius: 10px;
  border: none;
}

.content button:hover {
  background-color: transparent;
  border: 2px solid #fff;
  color: #fff;
  cursor: pointer;
}
